/*#myCanvas{
	border: 2px solid grey;
	display: block;
	margin: 0 auto;
}*/
body{
  min-width: 660px;
  position: relative;
  background-image: url('./../images/back_stars.jpg');
  background-size: 100%;
}
#volume{
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    padding: 15px 20px;
    border: 1px solid orange;
    border-radius: 50%;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    cursor: pointer;
    color: orange;
    font-size: 25px;
}
#volume:hover{
      background-color: rgba(4,4,4,.1);
}

#frame {
      width: 425px;
      height: 600px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      -webkit-perspective: 100px;
      -moz-perspective: 100px;
      -o-perspective: 100px;
      -ms-perspective: 100px;
      perspective: 100px;
      -webkit-perspective-origin: 100%, 100%;
      -moz-perspective-origin: 100%, 100%;
      -o-perspective-origin: 100%, 100%;
      -ms-perspective-origin: 100%, 100%;
      perspective-origin: 100%, 100%;
      -webkit-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      -moz-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      -o-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
}

#myCanvas {
      /*margin-top: -90px;*/
      /*border: 3px solid #dedede;*/
      -webkit-perspective: 100px;
      -moz-perspective: 100px;
      -o-perspective: 100px;
      -ms-perspective: 100px;
      perspective: 100px;
      -webkit-perspective-origin: 100%, 100%;
      -moz-perspective-origin: 100%, 100%;
      -o-perspective-origin: 100%, 100%;
      -ms-perspective-origin: 100%, 100%;
      perspective-origin: 100%, 100%;
      -webkit-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      -moz-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      -o-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(7deg) rotateY(0deg) rotateZ(0deg);
}

/*QUIZ*/
#quizAnswers{
      cursor: pointer;
}

@keyframes pressedAnswer {
    25%  {background-color: white;}
    50% {background-color: rgba(4,4,4,.2);}
    75% {background-color: white;}
    100% {background-color: rgba(4,4,4,.2);}
}

.pressedAnswer {
    background-color: transparent !important;
    animation-name: pressedAnswer;
    animation-duration: 1s;
}
.wrongAnswers{
      transition: background-color 0.5s;
      background-color: #F56464 !important;
}
.trueAnswers{
      transition: background-color 0.5s;
      background-color: #8BE093 !important;
}

@keyframes bodyGood {
    25%  {background-color: white;}
    50% {background-color: #8BE093;}
    75% {background-color: white;}
    100% {background-color: #8BE093;}
}
.bodyGood{
    animation-name: bodyGood;
    animation-duration: 1s;
}
@keyframes bodyBad {
    25%  {background-color: white;}
    50% {background-color: #F56464;}
    75% {background-color: white;}
    100% {background-color: #F56464;}
}
.bodyBad{
    animation-name: bodyBad;
    animation-duration: 1s;
}

.modal-backdrop{
      opacity: 0 !important;
}


/*QUIZ modal*/
@media (min-width: 768px){
    #quizModal .modal-sm {
          width: 480px;
          margin: 170px auto;
      }
}

#quizModal .modal-header h3{
      color: grey;
      text-shadow: 1px 1px 1px black;
      font-weight: bold;
}

.modal-footer{
      background-image: url('../images/atention.png');
}

#quizModal a:focus {outline:none;background-color: rgba(4,4,4,.1)}

/*splash modal*/
#splashModal .modal-content{
  display: none;
}
#splash-footer>button{
  width: 40%;
  display: block;
  margin: 0 auto;
}